<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MTGdle</title>
    <link rel="stylesheet" href="/static/main.css">
</head>
<body>
    <header>
        <div class="header-content">
            <div>
                <h1 class="title">MTGdle - Magic Worldle</h1>
                <small>by oklee</small>
            </div>
            <nav class="nav-links">
                <a href="/" class="nav-link">Card Database</a>
                <a href="/mtgdle" class="nav-link">MTGdle</a>
                <a href="/art-game" class="nav-link">Art Guessing Game</a>
            </nav>
        </div>
    </header>

    <div class="game-container">
        <p class="game-description">Guess the card in 20 tries.</p>
        
    </div>

    <script src='/static/mtgdle.js'></script>
</body>
</html>